<!DOCTYPE html>
<html>
  	<head>
  		<title>UNDISCOVERED RECRUITS</title>
  		<meta charset="utf-8">
  		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
  		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"/>
  		<link rel="shortcut icon" href="/images/favicon.png" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/stylesheets/style.css">

  	</head>
  	<body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p dt="<%= data.deviceType %>" uid="<%= data.userId %>" id="dd">Please wait detecting & launching Undiscovered Recruits App... </p>
                    <script>
                        $(window).on('load', function() {
                            var dt = $('#dd').attr("dt");
                            var uid = $('#dd').attr("uid");
                            var url;
                            if(dt == "android"){
                                url = "com.undiscovered_recruit://profile/"+uid
                            }else{
                                url = "com.undisclosedrecruits.app://profile/"+uid
                            }
                            setTimeout(function (){ 
                                if(dt == 'ios'){
                                    window.location = "https://www.apple.com/in/app-store/";
                                }else{
                                    window.location = "https://play.google.com/store";
                                }
                            }, 10000);
                            window.location = url;
                        });
                    </script>
                </div>
            </div>
         </div>
  	</body>
</html>